@import "tailwindcss";

:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(0, 62, 255);
  background: linear-gradient(45deg, rgb(72, 0, 255) -10%, rgba(0, 196, 255, 1) 74%, rgb(0, 221, 255) 96%);
}

* {
  @apply m-0 p-0;
}

body {
  @apply min-h-screen w-full select-none;
}